<div class="container">
    <h3>Editar producto</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="estado" class="form-label">Estado de la cuenta</label>
            <select type="text" class="form-control" id="estado" 
            name="estado" [(ngModel)]="producto.estado">
                 <option value="activa">Activa</option>
                 <option value="inactiva">Inactiva</option>
                 <option value="cancelada">Cancelada</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exentaGMF" class="form-label">¿Exenta GMF?</label>
            <select class="form-control" id="exentaGMF" name="exentaGMF" [(ngModel)]="producto.exentaGMF">
                <option [value]="true">Sí</option>
                <option [value]="false">No</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-sm me-3">Actualizar</button>
            <a href="/" class="btn btn-danger btn-sm">Regresar</a>
        </div>
      </form>
</div>

